.input {
  margin: 2px 32px;
  border-radius: 8px;
  width: 60%;
  padding: 16px;
  vertical-align: middle;
  font-size: 18px;
}
.input:focus {
  box-shadow: 2px 2px 2px 2px gray;
  border: none;
  outline: none;
}
.send_button {
  width: 100px;
  display: inline-block;
  cursor: pointer;
  padding: 16px;
  border-radius: 8px;
  background-color: rgb(43, 170, 39);
  border: none;
  color: white;
  font-size: medium;
}

.send_button:active,
.send_button:focus {
  outline: none;
}
.send_button:hover {
  box-shadow: 2px 2px 2px 2px grey;
}

.send_button:disabled {
  background-color: grey;
  box-shadow: none;
}
